body {
  font-family: "Manrope", sans-serif;
}

/* PRODUCT CARD */

.card {
  width: 20rem;
  background: #faf7e3;
  border-radius: 75px;
  margin: 80px auto;
}

#honey {
  max-width: 100%;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  height: 50vh;
  object-fit: cover;
}

.text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  padding: 10px 50px;
  border-radius: 20px;
  background-color: #f3df85;
  color: #612407;
  font-size: 1rem;
}

.cardBody {
  padding: 20px 0;
  color: #612407;
}

.left p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.left p:last-child {
  margin-bottom: 8px;
  font-size: 0.8rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right p {
  font-size: 1.2rem;
}
